.chat-envia-mensagem-box {
  background-color: #f5f5f5;
  width: 100%;
  padding: 10px 0;
  box-shadow: 2px 2px 5px rgb(238, 238, 238);
  display: flex;
}

.chat-envia-mensagem-input {
  width: 100%;
  padding: 15px 10px;
  margin-left: 10px;
}

.chat-envia-mensagem-botao-box {
  margin: 0 10px;
  display: flex;
  justify-content: center;
}

.chat-envia-mensagem-botao {
  padding: 15px 50px;
  cursor: pointer;
  background-color: #5ab8ff;
  border: none;
  color: #f5f5f5;
  border-radius: 16px;
}

.chat-envia-mensagem-botao:hover {
  background-color: #7ac5ff;
}